<h2>Productos</h2>

<p>Número total de productos: {{products.length}}</p>

<div class="col-md-2">
    <!--Sidebar content-->

    <div>
        <input placeholder=" Buscar..." type="text" [(ngModel)]="term">
    </div>

</div>

<ul>
    <li *ngFor="let product of products | filter:term">
        <span routerLink="/productDetail/{{product.id}}"><a>{{product.name}}</a></span>
        <p>{{product.description}}</p>
    </li>
</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->